<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<title>DA Good Burger</title>
	</head>
	<body>
		<img id="burger_logo" width="300px" src="/assets/img/burger.png">
		<img id="burger_guys" width="200px" src="/assets/img/goodburger2.png">

		{{{ body }}}

		<footer>
			<div id="copyright">
				<div class="row">
					<div class="col s12"><p>© 2019 Brooks Burwell Project</p></div>
				</div>
			</div>
		</footer>
	</body>
</html>
